<div class="container">
	<div class="panel panel-default panel-table">
		<div class="panel-heading">
			<div class="row">
				<div class="col col-xs-6">
					<h3 class="panel-title">分類列表</h3>
					<div>
					  <%= link_to 'Restaurant', admin_restaurants_path %> |
					  <%= link_to 'Categories', admin_categories_path %>
					</div>
				</div>
				<div class="col col-xs-6 text-right">
					<button type="button" class="btn btn-sm btn-create">新增分類</button>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>#</th>
							<th>Category Name</th>
						</tr>
					</thead>
					<tbody>
						<% @categories.each do |category| %>
						<tr>
							<th scope = "row"><%= category.id%></th>
							<td><%= category.name%></td>
						</tr>
						<% end %>
					</tbody>	
				</table>
			</div>
		</div>
	</div>
</div>
